In [2]:
%pylab
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor, GradientBoostingRegressor, RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib

In [3]:
train=pd.read_csv("C:/Python Submission/Time Series/trainMerged.csv")
train.IsHoliday=train.IsHoliday.astype(int)
train['Type']=LabelEncoder().fit_transform(train['Type'])

In [4]:
test=pd.read_csv("C:/Python Submission/Time Series/testMerged.csv")
test.IsHoliday=test.IsHoliday.astype(int)
test['Type']=LabelEncoder().fit_transform(test['Type'])

In [5]:
t1=train.dropna()

In [6]:
t1.drop('Weekly_Sales',inplace=True,axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:
combine=pd.concat([t1,test],axis=0)
combine.dropna(inplace=True)

In [8]:
combine

,Store,Date,IsHoliday,Dept,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
6669,10,2011-11-11,0,41,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6670,10,2011-11-11,0,83,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6671,10,2011-11-11,0,58,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6672,10,2011-11-11,0,71,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6673,10,2011-11-11,0,13,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6674,10,2011-11-11,0,50,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6675,10,2011-11-11,0,93,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6676,10,2011-11-11,0,27,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6677,10,2011-11-11,0,23,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6678,10,2011-11-11,0,31,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6679,10,2011-11-11,0,91,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6680,10,2011-11-11,0,3,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6681,10,2011-11-11,0,7,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6682,10,2011-11-11,0,9,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6683,10,2011-11-11,0,16,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6684,10,2011-11-11,0,30,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6685,10,2011-11-11,0,48,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6686,10,2011-11-11,0,38,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6687,10,2011-11-11,0,21,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6688,10,2011-11-11,0,19,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6689,10,2011-11-11,0,29,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6690,10,2011-11-11,0,96,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6691,10,2011-11-11,0,44,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6692,10,2011-11-11,0,67,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6693,10,2011-11-11,0,81,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6694,10,2011-11-11,0,54,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6695,10,2011-11-11,0,72,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6696,10,2011-11-11,0,17,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6697,10,2011-11-11,0,2,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
6698,10,2011-11-11,0,60,1,126512,55.28,3.677,13444.17,14909.99,752.18,4320.22,5896.30,129.816710,7.874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114116,9,2013-04-12,0,41,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114117,9,2013-04-12,0,19,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114118,9,2013-04-12,0,32,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114119,9,2013-04-12,0,46,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114120,9,2013-04-12,0,28,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114121,9,2013-04-12,0,44,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114122,9,2013-04-12,0,42,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114123,9,2013-04-12,0,30,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114124,9,2013-04-12,0,13,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114125,9,2013-04-12,0,31,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114126,9,2013-04-12,0,36,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114127,9,2013-04-12,0,12,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114128,9,2013-04-12,0,20,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114129,9,2013-04-12,0,27,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114130,9,2013-04-12,0,55,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114131,9,2013-04-12,0,92,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114132,9,2013-04-12,0,90,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114133,9,2013-04-12,0,14,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114134,9,2013-04-12,0,52,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114135,9,2013-04-12,0,56,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114136,9,2013-04-12,0,34,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114137,9,2013-04-12,0,16,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114138,9,2013-04-12,0,91,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114139,9,2013-04-12,0,40,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114140,9,2013-04-12,0,7,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114141,9,2013-04-12,0,17,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114142,9,2013-04-12,0,18,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114143,9,2013-04-12,0,38,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114144,9,2013-04-12,0,87,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893
114145,9,2013-04-12,0,10,1,125833,63.10,3.529,1113.00,136.60,29.28,104.16,4195.31,228.976456,4.893

In [9]:
X=combine.drop(['Date','MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5','CPI','Unemployment'],axis=1)

In [10]:
X

        Store  IsHoliday  Dept  Type    Size  Temperature  Fuel_Price
6669       10          0    41     1  126512        55.28       3.677
6670       10          0    83     1  126512        55.28       3.677
6671       10          0    58     1  126512        55.28       3.677
6672       10          0    71     1  126512        55.28       3.677
6673       10          0    13     1  126512        55.28       3.677
6674       10          0    50     1  126512        55.28       3.677
6675       10          0    93     1  126512        55.28       3.677
6676       10          0    27     1  126512        55.28       3.677
6677       10          0    23     1  126512        55.28       3.677
6678       10          0    31     1  126512        55.28       3.677
6679       10          0    91     1  126512        55.28       3.677
6680       10          0     3     1  126512        55.28       3.677
6681       10          0     7     1  126512        55.28       3.677
6682       10          0     9     1  126512        55.28       3.677
6683       10          0    16     1  126512        55.28       3.677
6684       10          0    30     1  126512        55.28       3.677
6685       10          0    48     1  126512        55.28       3.677
6686       10          0    38     1  126512        55.28       3.677
6687       10          0    21     1  126512        55.28       3.677
6688       10          0    19     1  126512        55.28       3.677
6689       10          0    29     1  126512        55.28       3.677
6690       10          0    96     1  126512        55.28       3.677
6691       10          0    44     1  126512        55.28       3.677
6692       10          0    67     1  126512        55.28       3.677
6693       10          0    81     1  126512        55.28       3.677
6694       10          0    54     1  126512        55.28       3.677
6695       10          0    72     1  126512        55.28       3.677
6696       10          0    17     1  126512        55.28       3.677
6697       10          0     2     1  126512        55.28       3.677
6698       10          0    60     1  126512        55.28       3.677
...       ...        ...   ...   ...     ...          ...         ...
114116      9          0    41     1  125833        63.10       3.529
114117      9          0    19     1  125833        63.10       3.529
114118      9          0    32     1  125833        63.10       3.529
114119      9          0    46     1  125833        63.10       3.529
114120      9          0    28     1  125833        63.10       3.529
114121      9          0    44     1  125833        63.10       3.529
114122      9          0    42     1  125833        63.10       3.529
114123      9          0    30     1  125833        63.10       3.529
114124      9          0    13     1  125833        63.10       3.529
114125      9          0    31     1  125833        63.10       3.529
114126      9          0    36     1  125833        63.10       3.529
114127      9          0    12     1  125833        63.10       3.529
114128      9          0    20     1  125833        63.10       3.529
114129      9          0    27     1  125833        63.10       3.529
114130      9          0    55     1  125833        63.10       3.529
114131      9          0    92     1  125833        63.10       3.529
114132      9          0    90     1  125833        63.10       3.529
114133      9          0    14     1  125833        63.10       3.529
114134      9          0    52     1  125833        63.10       3.529
114135      9          0    56     1  125833        63.10       3.529
114136      9          0    34     1  125833        63.10       3.529
114137      9          0    16     1  125833        63.10       3.529
114138      9          0    91     1  125833        63.10       3.529
114139      9          0    40     1  125833        63.10       3.529
114140      9          0     7     1  125833        63.10       3.529
114141      9          0    17     1  125833        63.10       3.529
114142      9          0    18     1  125833        63.10       3.529
114143      9          0    38     1  125833        63.10       3.529
114144      9          0    87     1  125833        63.10       3.529
114145      9          0    10     1  125833        63.10       3.529

[143547 rows x 7 columns]

In [11]:
Y1=combine.MarkDown1

In [12]:
Y2=combine.MarkDown2

In [13]:
Y3=combine.MarkDown3

In [14]:
Y4=combine.MarkDown4

In [15]:
Y5=combine.MarkDown5

In [16]:
X.head(10)

      Store  IsHoliday  Dept  Type    Size  Temperature  Fuel_Price
6669     10          0    41     1  126512        55.28       3.677
6670     10          0    83     1  126512        55.28       3.677
6671     10          0    58     1  126512        55.28       3.677
6672     10          0    71     1  126512        55.28       3.677
6673     10          0    13     1  126512        55.28       3.677
6674     10          0    50     1  126512        55.28       3.677
6675     10          0    93     1  126512        55.28       3.677
6676     10          0    27     1  126512        55.28       3.677
6677     10          0    23     1  126512        55.28       3.677
6678     10          0    31     1  126512        55.28       3.677

In [17]:
Y1

6669      13444.17
6670      13444.17
6671      13444.17
6672      13444.17
6673      13444.17
6674      13444.17
6675      13444.17
6676      13444.17
6677      13444.17
6678      13444.17
6679      13444.17
6680      13444.17
6681      13444.17
6682      13444.17
6683      13444.17
6684      13444.17
6685      13444.17
6686      13444.17
6687      13444.17
6688      13444.17
6689      13444.17
6690      13444.17
6691      13444.17
6692      13444.17
6693      13444.17
6694      13444.17
6695      13444.17
6696      13444.17
6697      13444.17
6698      13444.17
            ...
114116     1113.00
114117     1113.00
114118     1113.00
114119     1113.00
114120     1113.00
114121     1113.00
114122     1113.00
114123     1113.00
114124     1113.00
114125     1113.00
114126     1113.00
114127     1113.00
114128     1113.00
114129     1113.00
114130     1113.00
114131     1113.00
114132     1113.00
114133     1113.00
114134     1113.00
114135     1113.00
114136     1113.00
114137     1113.00
114138     1113.00
114139     1113.00
114140     1113.00
114141     1113.00
114142     1113.00
114143     1113.00
114144     1113.00
114145     1113.00
Name: MarkDown1, Length: 143547, dtype: float64

In [18]:
lm1=LinearRegression().fit(X,Y1)

In [19]:
lm2=LinearRegression().fit(X,Y2)

In [20]:
lm3=LinearRegression().fit(X,Y3)

In [21]:
lm4=LinearRegression().fit(X,Y4)

In [22]:
lm5=LinearRegression().fit(X,Y5)

In [23]:
train.MarkDown1=np.where(train.MarkDown1.isnull()==1, lm1.predict(train[X.columns]),train.MarkDown1)

In [24]:
train.MarkDown2=np.where(train.MarkDown2.isnull()==1, lm2.predict(train[X.columns]),train.MarkDown2)

In [25]:
train.MarkDown3=np.where(train.MarkDown3.isnull()==1, lm3.predict(train[X.columns]),train.MarkDown3)

In [26]:
train.MarkDown4=np.where(train.MarkDown4.isnull()==1, lm4.predict(train[X.columns]),train.MarkDown4)

In [27]:
train.MarkDown5=np.where(train.MarkDown5.isnull()==1, lm5.predict(train[X.columns]),train.MarkDown5)

In [28]:
test.MarkDown1=np.where(test.MarkDown1.isnull()==1, lm1.predict(test[X.columns]),test.MarkDown1)

In [29]:
test.MarkDown2=np.where(test.MarkDown2.isnull()==1, lm2.predict(test[X.columns]),test.MarkDown2)

In [30]:
test.MarkDown3=np.where(test.MarkDown3.isnull()==1, lm3.predict(test[X.columns]),test.MarkDown3)

In [31]:
test.MarkDown4=np.where(test.MarkDown4.isnull()==1, lm4.predict(test[X.columns]),test.MarkDown4)

In [32]:
test.MarkDown5=np.where(test.MarkDown5.isnull()==1, lm5.predict(test[X.columns]),test.MarkDown5)

In [33]:
train.shape

(421570, 16)

In [34]:
train.head(10)

,Store,Date,IsHoliday,Dept,Weekly_Sales,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,10,2010-02-05,0,1,40212.84,1,126512,54.34,2.962,5840.702502,7802.533441,205.514784,3540.290087,4946.010778,126.442065,9.765
1,10,2010-02-05,0,98,74.00,1,126512,54.34,2.962,5842.381997,7767.112350,244.917351,3570.015842,4963.893868,126.442065,9.765
2,10,2010-02-05,0,32,26116.73,1,126512,54.34,2.962,5841.239248,7791.213299,218.107357,3549.790071,4951.725992,126.442065,9.765
3,10,2010-02-05,0,25,20779.50,1,126512,54.34,2.962,5841.118047,7793.769460,215.263872,3547.644913,4950.435460,126.442065,9.765
4,10,2010-02-05,0,34,50585.42,1,126512,54.34,2.962,5841.273876,7790.482967,218.919781,3550.402973,4952.094716,126.442065,9.765
5,10,2010-02-05,0,55,26155.76,1,126512,54.34,2.962,5841.637478,7782.814483,227.450233,3556.838445,4955.966313,126.442065,9.765
6,10,2010-02-05,0,19,4046.34,1,126512,54.34,2.962,5841.014161,7795.960455,212.826600,3545.806207,4949.329289,126.442065,9.765
7,10,2010-02-05,0,81,11343.00,1,126512,54.34,2.962,5842.087653,7773.320170,238.011746,3564.806173,4960.759718,126.442065,9.765
8,10,2010-02-05,0,21,12250.22,1,126512,54.34,2.962,5841.048789,7795.230123,213.639024,3546.419109,4949.698013,126.442065,9.765
9,10,2010-02-05,0,38,96408.49,1,126512,54.34,2.962,5841.343134,7789.022303,220.544629,3551.628777,4952.832163,126.442065,9.765

In [35]:
# Removing Outliers

In [36]:
train.Weekly_Sales=np.where(train.Weekly_Sales>100000, 100000, train.Weekly_Sales)

In [37]:
# Splitting the train data further into Train and Test

In [38]:
X1=train.drop(['Date','CPI','Unemployment','Weekly_Sales'],axis=1)

In [39]:
Y=train.Weekly_Sales

In [40]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X1,Y,train_size=0.70,random_state=125)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [41]:
sc=StandardScaler().fit(Xtrain)

In [42]:
sc_train=sc.transform(Xtrain)
sc_test=sc.transform(Xtest)

### Building Models and comparing thier RMSE values

In [43]:
lm=LinearRegression().fit(sc_train,Ytrain)

In [46]:
print (np.sqrt(mean_squared_error(lm.predict(sc_train),Ytrain)))
print (np.sqrt(mean_squared_error(lm.predict(sc_test),Ytest)))

19554.715811064674
19557.841113540035

In [47]:
dt=DecisionTreeRegressor(max_depth=14).fit(sc_train,Ytrain)

In [48]:
print (np.sqrt(mean_squared_error(dt.predict(sc_train),Ytrain)))
print (np.sqrt(mean_squared_error(dt.predict(sc_test),Ytest)))

4820.2611512388385
5532.23961279877

In [50]:
ad=AdaBoostRegressor().fit(sc_train,Ytrain)

In [51]:
print (np.sqrt(mean_squared_error(ad.predict(sc_train),Ytrain)))
print (np.sqrt(mean_squared_error(ad.predict(sc_test),Ytest)))

18252.096537737358
18270.007093389675

In [52]:
gbm=GradientBoostingRegressor().fit(sc_train,Ytrain)

In [53]:
print (np.sqrt(mean_squared_error(gbm.predict(sc_train),Ytrain)))
print (np.sqrt(mean_squared_error(gbm.predict(sc_test),Ytest)))

9907.736378835334
9880.068794592577

In [54]:
rf=RandomForestRegressor(n_estimators=10,max_depth=15,min_samples_split=10).fit(sc_train,Ytrain)

In [55]:
print (np.sqrt(mean_squared_error(rf.predict(sc_train),Ytrain)))
print (np.sqrt(mean_squared_error(rf.predict(sc_test),Ytest)))

4194.820278920258
4850.56882743111

# Predicting Sales value for test data

In [56]:
test1=sc.transform(test[X1.columns])

In [57]:
p=pd.concat([test.Store.astype(str).str.cat(test.Dept.astype(str),sep='_').str.cat(test.Date.astype(str),sep='_'),
            pd.DataFrame(rf.predict(test1))],axis=1)

In [58]:
p.columns=['Store_Dept_Date','Weekly_Sales']

In [59]:
p.to_csv ('Submission_Wallmart_Sales.csv' ,index=0)